.vision {
  display: flex;
  // 자식요소라고 해서 반드시 중첩해야 하는 것은 아님 상황에 따라
  &-inner {
    width: 1200px;
    overflow: hidden;
  }
  &-content {
    width: 100%;
    height: 200px;
    > div {
      float: left;
      width: 100%;
    }
  }
  &-item {
    height: 200px;
    &-desc {
      background-color: red;
      h1 {
        text-align: center;
      }
    }
  }

}