@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #222;
}

a {
  text-decoration: none;
}

/* Button Hover Effects */
.btn-outer .btn {
  color: #fff;
  text-transform: uppercase;
  width: 300px;
  display: block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #555;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}
.btn-outer .btn:hover {
  background-color: transparent;
}
.btn-outer .btn:before, .btn-outer .btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border: 1px solid #fff;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn-outer .btn:hover:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 1;
}
.btn-outer .btn:hover:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
}