@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

.font-large {
  font-size: 60px;
  color: crimson;
  text-transform: uppercase;
}
.font-medium {
  font-size: 40px;
  color: yellowgreen;
}
.font-small {
  font-size: 20px;
  color: royalblue;
}