@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

/* Button */
.btn {
  background-color: #fff;
  color: #000;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
.btn:hover {
  background-color: #000;
  color: #fff;
}

/* Frame Div */
.frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.frame div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 150px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1529411765);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1529411765);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
.frame div:hover {
  color: #fff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.frame div:nth-child(1) {
  background-color: crimson;
}
.frame div:nth-child(2) {
  background-color: yellowgreen;
}
.frame div:nth-child(3) {
  background-color: mediumslateblue;
}