/* 

퍼블리싱 순서
1. 제일 먼저 텍스트 서식 전제적으로 설정
2. 레이아웃 잡는다
3. 상세 디자인

*/
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-base: 15px;
$font-family-base: 'Raleway';
$font-family-headline: 'Roboto';

/* 전체적인 body를 관장하는 믹스인 */
@mixin font-default {
  // 접두어를 공유할 수 있는 경우
  font: {
    size: $font-base + 1;
    family:$font-family-base;
    weight: 300;
  }
  line-height: 1.6em;
}
/* 중첩을 위한 믹스인 */
@mixin font-headline {
  font: {
    family: $font-family-headline;
    weight: 500;
  }
  text-transform: uppercase;
}
/* 개별적인 믹스인 */
@mixin large-headline {
  @include font-headline;
  // 45px로 만들기 위해
  font-size: $font-base * 3;
  color: crimson;
}
@mixin medium-headline {
  @include font-headline;
  // 30px로 만들기 위해
  font-size: $font-base * 2;
  color: royalblue;
}
@mixin small-headline {
  @include font-headline;
  // 22.5px로 만들기 위해
  font-size: $font-base * 1.5;
  color: yellowgreen;
}

body {
  @include font-default;
}
h1 {
  @include large-headline;
}
h2 {
  @include medium-headline;
}
h3 {
  @include small-headline;
}