@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  a{
    text-decoration: none;
  }
}

.sns {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 600px;
  display: flex;
  li {
    border: 1px solid #000;
    padding: 10px;
    flex:1;
    text-align: center;
    a {
      color: #000;
      text-transform: uppercase;
    }
  }
}
